@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    
    font-family: Avenir, Helvetica, sans-serif;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: #6c9;
}

.masthead {
    background-color: #063;
    overflow: hidden;
}

.logo {
    height: 7rem;
    width: auto;
    margin: .3rem;  
}

article {
    margin: .5rem 1rem;
    overflow: hidden;
}

h1 {
    font-size: 6rem;
    margin: 10px 0;
    line-height: 5.5rem;
    text-shadow: #063 3px 3px;
}

h1 + p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
}

p {
    line-height: 1.5rem;
    margin: 0 auto 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
    color: #030;
    margin: auto auto 2px;
}
    
figure {
    margin: auto;
    width: 100%;
}

figcaption {
    font-size: 0.8rem;
    color: #030;
    margin: 2px auto 2.5rem;
}

footer {
    background-color: #030;
    overflow:hidden;
}

footer p {
    font-size: 10px;
    margin: 1rem;
    color: #999;
}

footer a {
    color: #999;
}   

hr {
    height: 5px;
    border-color: #030;
}    